<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="description" content="Nirwana Software - HTML5 Bootstrap Template">
  <meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no"><!-- Favicon-->
  <link rel="shortcut icon" href="./assets/favicons/favicon.ico">
  <!-- BERPINDAH PINDAH -->
  <link rel="apple-touch-icon" sizes="57x57" href="./assets/favicons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="./assets/favicons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="./assets/favicons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="./assets/favicons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="./assets/favicons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="./assets/favicons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="./assets/favicons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="./assets/favicons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="./assets/favicons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="./assets/favicons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./assets/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./assets/favicons/favicon-16x16.png">
  <link rel="manifest" href="./assets/favicons/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="./assets/favicons/ms-icon-144x144.png"><!-- PWA primary color-->
  <meta name="theme-color" content="#2196f3">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&amp;display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"><!-- Facebook-->
  <meta property="author" content="nirwana">
  <meta property="og:site_name" content="alexstrap.ux-maestro.com">
  <meta property="og:locale" content="en_US">
  <meta property="og:type" content="website"><!-- Twitter-->
  <meta property="twitter:site" content="nirwana.ux-maestro.com">
  <meta property="twitter:domain" content="nirwana.ux-maestro.com">
  <meta property="twitter:creator" content="nirwana">
  <meta property="twitter:card" content="summary">
  <meta property="twitter:image:src" content="./assets/images/logo-saas2.png">
  <meta property="og:url" content="nirwana.indisains.com/saas2">
  <meta property="og:title" content="Software">
  <meta property="og:description" content="Nirwana Software - HTML5 Bootstrap Template">
  <meta name="twitter:site" content="nirwana.indisains.com/saas2">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image" content="/images/logo-saas2.png">
  <meta property="og:image" content="/images/logo-saas2.png">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
  <title>Centralbiller - Homepage </title><!-- Styles-->
  <!-- Put the 3rd/plugins css here-->
  <link href="./assets/css/vendors/normalize.css" rel="stylesheet">
  <link href="./assets/css/vendors/bootstrap.css" rel="stylesheet">
  <link href="./assets/css/vendors/magnific-popup.css" rel="stylesheet">
  <link href="./assets/css/vendors/materialize.css" rel="stylesheet">
  <link href="./assets/css/vendors/hamburger-menu.css" rel="stylesheet">
  <link href="./assets/css/vendors/animate.css" rel="stylesheet">
  <link href="./assets/css/vendors/animate-extends.css" rel="stylesheet">
  <link href="./assets/css/vendors/slick-carousel/slick.css" rel="stylesheet">
  <link href="./assets/css/vendors/slick-carousel/slick-theme.css" rel="stylesheet">
  <link href="./assets/css/styles.css" rel="stylesheet">
</head>

<body>
  <div id="preloader" style="position: fixed; z-index: 10000; background: #fafafa; width: 100%; height: 100%"><img style="opacity: 0.2; position: fixed; top: calc(50% - 50px); left: calc(50% - 50px)" src="./assets/images/loading.gif" alt="loading"></div>
  <div class="m-application theme--light transition-page" id="app">
    <div class="loading"></div>
    <div class="m-content mint mint-var" id="main-wrap">
      <div id="home">
        <div class="main-wrap">
          <!-- #### HEADER ####-->
          <div class="sidenav mobile-nav" id="slide_menu">
            <div class="side-multilv">
              <div class="collection side-multilv">
                <ul class="collapsible expandable">
                  <li class="collection-item"><a class="sidenav-close waves-effect menu-list" href="#feature">Tentang Kami</a></li>
                  <li class="collection-item"><a class="sidenav-close waves-effect menu-list" href="#integration">Layanan Kami</a></li>
                  <li class="collection-item"><a class="sidenav-close waves-effect menu-list" href="#pricing">Produk Kami</a></li>
                  <li class="collection-item"><a class="sidenav-close waves-effect menu-list" href="#footer">Informasi</a></li>
                  
                </ul>
              </div>
              
            </div>
          </div>
          <header class="app-bar header" id="header">
            <div class="container">
              <div class="header-content">
                <nav class="nav-menu">
                  <button class="btn-icon waves-effect sidenav-trigger hamburger hamburger--spin show-md-down" id="mobile_menu" type="button" data-target="slide_menu"><span class="hamburger-box"><span class="bar hamburger-inner"></span></span></button>
                  <div class="logo">
                    <a href="index.html">  
                      <span class="logo-main landscape medium">Centralbiller</span>
                    </a>
                  </div>
                  <div class="scrollactive-nav show-lg-up multi-menu scrollnav">
                    <ul class="main-menu">
                      <li>
                        <a class="btn btn-flat anchor-link waves-effect" href="#feature">Tentang Kami</a>
                        
                      </li>
                      <li>
                        <a class="btn btn-flat anchor-link waves-effect" href="#integration">Layanan Kami</a>
                      </li>
                      <li>
                        <a class="btn btn-flat anchor-link waves-effect" href="#pricing">Produk Kami</a>
                      </li>
                      <li>
                        <a class="btn btn-flat anchor-link waves-effect" href="#footer">Informasi</a>
                      </li>
                      
                    </ul>
                  </div>
                  
                </nav>
                <div id="container_menu"></div>
                <a class="btn btn-flat waves-effect show-sm-up" href="https://panel.walletlink.id/auth/login">Login</a>
                <a class="btn btn-flat waves-effect show-sm-up" href="https://panel.walletlink.id/auth/register">Registrasi</a>
                <!-- <div class="menu-setting">
                  <div class="setting">
                    <button class="btn btn-icon waves-effect btn-small dropdown-trigger ma-1" data-target="dropdown_config" data-align="left" type="button">
                      <i class="icon material-icons" id="setting_icon">settings</i>
                    </button>
                    <div class="dropdown-content setting" id="dropdown_config">
                      <ul class="collection with-header">
                        <li class="collection-header">theme mode</li>
                        <li class="collection-item no-hover pl-4">
                          <div class="flex-menu">
                            <div class="switch">
                              <label>
                                light
                                <input id="theme_switcher" type="checkbox"><span class="lever"></span>
                                dark
                              </label>
                            </div>
                          </div>
                        </li>
                      </ul>
                      
                    </div>
                  </div>
                </div> -->
              </div>
            </div>
          </header><!-- #### END HEADER ####-->

          <main class="container-wrap">
            <!-- ##### BANNER #####-->
            <div class="hero-banner-wrap">
              <div class="container">
                <div class="banner-basic about-style">
                  <div class="banner-wrap">
                    <div class="inner">
                      <div class="row d-flex justify-content-center align-items-center">
                        <div class="col-md-6 px-sm-5 px-0 py-4">
                          <div class="text">
                            <h1 class="use-text-title2">Pembayaran Mudah dengan <span style="color:#15803d">Harga Kompetitif </span>untuk di Jual Kembali</h1>
                            <p class="use-text-subtitle2">Nikmati kemudahan pembayaran multi-channel H2H dengan harga terbaik yang siap dijual kembali untuk keuntungan Anda.</p>
                          </div>
                          <div class="btn-area">
                            <a class="btn waves-effect button btn-large secondary" href="https://mitra.walletlink.id/pricelist/pulsa?op=Tri">Mulai Sekarang</a>
                          </div>
                        </div>
                        <div class="col-md-4 px-sm-5  px-0 py-4">
                          <div id="manualCarousel " class="carousel">
                            <img class="img-2d3d" src="./assets/images/saas2/header1.png" alt="Gambar 1" id="currentImage" style="height: 320px;" />
                            <!-- <button class="btn nav prev" onclick="prevImage()">
                              <i class="ion-ios-arrow-back"></i>
                            </button>
                            <button class="btn nav next" onclick="nextImage()">
                              <i class="ion-ios-arrow-forward"></i>
                            </button> -->
                            
                          </div>
                            <button class="button btn-small secondary" onclick="prevImage()"><i class="ion-ios-arrow-back"></i></button>
                            <button class="button btn-small secondary" onclick="nextImage()"><i class="ion-ios-arrow-forward"></i></button>
                        </div>
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="deco-wrap">
                <div class="deco bottom"><svg class="wave">
                    <!-- Wave SVG here -->
                  </svg></div>
                <div class="deco top">
                  <div class="wave wave-cover"></div>
                </div>
              </div>
              <div class="wave wave-cover"></div>
            </div>
            
            <!-- ##### BANNER #####-->
            <!-- ##### END BANNER #####-->
             <!-- ##### FEATURE #####-->
            <section id="feature">
              <div class="root">
                <div class="decoration-bg">
                  <svg class="wave">
                    <g>
                      <path d="M19.7665077,0.586224095 C173.454777,201.024442 338.39951,280.899446 514.600709,240.211239 C778.902507,179.178928 866.477805,607.756375 1041.85353,607.756375 C1158.77068,607.756375 1238.15284,586.837583 1280,545 L1274.18697,1225.96189 C1301.0524,1360.78849 1240.86783,1469.11522 1093.63327,1550.94205 C872.781425,1673.68231 547.694716,1115.83347 356.559941,1115.83347 C229.136757,1115.83347 110.418573,1186.39974 0.405387931,1327.53227 L19.7665077,0.586224095 Z"></path>
                    </g>
                  </svg>
                </div>
                <div class="title-main center-title">
                    <h4>Tentang Kami</h4>
                  </div>
                <div class="container mq-lg-up" data-class="fixed-width">
                  
                  <div class="item">
                    
                    
                    <div class="row">
                      
                      
                      <div class="col-md-6 px-md-6 px-0 px-lg-10 order-md-first ">
                        
                        <div class="desc">
                          <p align="justify">Centralbiller.id adalah solusi pembayaran multi-channel H2H yang menawarkan harga kompetitif dan layanan yang dapat diandalkan. Kami berkomitmen untuk menyediakan berbagai solusi pembayaran demi kemudahan transaksi bisnis Anda.</p>
                          <table class="no-border">
                            <tbody>
                              <tr class="no-border">
                                <th><i class="circle icon primary material-icons grey lighten-3">check</i></th>
                                <td><p align="justify">Layanan pembayaran terlengkap mulai dari tagihan, pulsa, voucher TV, dan masih banyak lagi.</p></td>
                              </tr>
                              <tr class="no-border">
                                <th><i class="circle icon primary material-icons grey lighten-3">check</i></th>
                                <td><p align="justify">Harga kompetitif yang memungkinkan Anda untuk menjual kembali layanan kami dengan keuntungan.</p></td>
                              </tr>
                              <tr class="no-border">
                                <th><i class="circle icon primary material-icons grey lighten-3">check</i></th>
                                <td><p align="justify">Sistem yang aman dan mudah digunakan, memastikan setiap transaksi berjalan lancar.</p></td>
                              </tr>
                            </tbody>
                          </table>
                          <p align="justify">Pilih centralbiller.id untuk memenuhi berbagai kebutuhan pembayaran bisnis Anda dengan harga terbaik dan layanan yang prima. Kami selalu berusaha memberikan solusi terbaik untuk semua klien kami.</p>
                          <!-- <a class="btn secondary btn-large waves-effect" href="#">Daftar Sekarang</a> -->
                        </div>
                        
                      </div>
            
                      <div class="col-md-6 px-6 px-lg-12">
                        <div class="wow fadeInRightShort" data-wow-duration="0.5s" data-wow-delay="0.5s" data-wow-offset="200">
                          <div class="screen-wrap">
                            
                            <div class="illustration">
                              <figure>
                                <img src="./assets/images/saas2/tentang kami.png" alt="screen" />
                              </figure>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                      
                      
                    </div>
                  </div>
                  
                  
                  
                  
                </div>
              </div>
            </section>
            <!-- ##### END FEATURE #####-->
             <!-- ##### INTEGRATION #####-->
            <section class="space-top" id="integration">
              <div class="root">
                  <div class="decoration-bg">
                      <svg class="wave">
                          <g stroke="none" fill-rule="evenodd">
                              <g transform="translate(0.000000, -3316.000000)">
                                  <g transform="translate(-475.000000, 3264.000000)">
                                      <path d="M67.4921411,142.673287 C304.964489,206.003447 550.435906,187.671032 803.906392,87.6760427 C1184.11212,-62.3164421 1274.85155,309.164945 1566.94254,309.164945 C1761.66987,309.164945 1912.02736,253.667726 2018.01502,142.673287 L2147,819.889356 C2075.7583,891.552432 1917.52672,972.798361 1672.30527,1063.62714 C1304.47311,1199.87032 973.386657,763.892161 655.048725,763.892161 C442.823437,763.892161 224.473862,871.470104 0,1086.62599 L67.4921411,142.673287 Z" transform="translate(1073.500000, 571.000000) rotate(-180.000000) translate(-1073.500000, -571.000000) "></path>
                                  </g>
                              </g>
                          </g>
                      </svg>
                  </div>
                  <div class="container">
                    <div class="row spacing6 justify-content-center">
                        <div class="col-lg-11 py-0">
                            <div class="title-main center-title">
                                <h4><span>Layanan Kami</span></h4>
                            </div>
                            <h6 class="text-center use-text-subtitle2">
                                
                            </h6>
                            <p class="text-center" >Kami menawarkan beragam layanan pembayaran multi-channel yang menawarkan fleksibilitas dan harga kompetitif untuk memenuhi berbagai kebutuhan bisnis Anda, siap dijual kembali.</p>
                            <div class="card paper border-0 shadow-sm">
                                <div class="content">
                                    <div class="row">
                                        <!-- Kolom pertama -->
                                        <div class="col-md-6 no-border">
                                            <ul class="collection custom-collection list-unstyled">
                                                <li class="collection-item avatar border-0">
                                                    <i class="circle icon primary material-icons grey lighten-3">receipt_long</i>
                                                    <span class="use-text-medium">Pembayaran Tagihan</span>
                                                    <p class="text-muted">Layanan pembayaran tagihan untuk listrik, air, telepon, dan banyak lagi dengan kemudahan dan keamanan terjamin.</p>
                                                </li>
                                                <li class="collection-item avatar border-0">
                                                    <i class="circle icon primary material-icons grey lighten-3">signal_cellular_alt</i>
                                                    <span class="use-text-medium">Pulsa & Data</span>
                                                    <p class="text-muted">Top-up pulsa dan paket data berbagai operator dengan harga yang menarik untuk kebutuhan komunikasi Anda.</p>
                                                </li>
                                                <li class="collection-item avatar border-0">
                                                    <i class="circle icon primary material-icons grey lighten-3">tv</i>
                                                    <span class="use-text-medium">Voucher TV</span>
                                                    <p class="text-muted">Beragam pilihan voucher TV kabel dan satelit tersedia untuk hiburan keluarga Anda.</p>
                                                </li>
                                            </ul>
                                        </div>
                
                                        <!-- Kolom kedua -->
                                        <div class="col-md-6">
                                            <ul class="collection custom-collection list-unstyled">
                                                <li class="collection-item avatar border-0">
                                                    <i class="circle icon primary material-icons grey lighten-3">account_balance_wallet</i>
                                                    <span class="use-text-medium">Dompet Digital</span>
                                                    <p class="text-muted">Isi ulang saldo dompet digital dengan cepat dan aman, memudahkan berbagai transaksi sehari-hari.</p>
                                                </li>
                                                <li class="collection-item avatar border-0">
                                                    <i class="circle icon primary material-icons grey lighten-3">event</i>
                                                    <span class="use-text-medium">Tiket Event</span>
                                                    <p class="text-muted">Pembelian tiket berbagai acara dan event dengan mudah melalui platform kami.</p>
                                                </li>
                                                <li class="collection-item avatar border-0">
                                                    <i class="circle icon primary material-icons grey lighten-3">payment</i>
                                                    <span class="use-text-medium">Pembayaran Online</span>
                                                    <p class="text-muted">Solusi pembayaran online untuk e-commerce dan layanan lainnya yang memudahkan transaksi digital.</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div> <!-- End row -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
              </div>
            </section>
            
            <!-- ##### END INTEGRATION #####-->
          

            

            

            
            <section id="pricing">
                <div class="root">
                    <!-- <div class="decoration-bg">
                        <svg class="wave">
                            <g stroke="none" fill-rule="evenodd">
                                <g transform="translate(0.000000, -3316.000000)">
                                    <g transform="translate(-475.000000, 3264.000000)">
                                        <path d="M67.4921411,142.673287 C304.964489,206.003447 550.435906,187.671032 803.906392,87.6760427 C1184.11212,-62.3164421 1274.85155,309.164945 1566.94254,309.164945 C1761.66987,309.164945 1912.02736,253.667726 2018.01502,142.673287 L2147,819.889356 C2075.7583,891.552432 1917.52672,972.798361 1672.30527,1063.62714 C1304.47311,1199.87032 973.386657,763.892161 655.048725,763.892161 C442.823437,763.892161 224.473862,871.470104 0,1086.62599 L67.4921411,142.673287 Z" transform="translate(1073.500000, 571.000000) rotate(-180.000000) translate(-1073.500000, -571.000000) "></path>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </div> -->
                    <div class="container">
                        <div class="row spacing6 justify-content-center">
                            <div class="col-lg-11 py-0">
                                <div class="title-main center-title">
                                    <h4><span>Produk Kami</span></h4>
                                    <p>Contoh Produk Kami</p>
                                </div>
                                <!-- ##### PROFILE CARD PRODUCT PRODUCT #####-->
                                <div class="space-top-short" id="product_p">
                                  <!-- <h4 class="use-text-primary use-text-subtitle mb-3 ms-4">Product Cards Portrait</h4> -->
                                  <div class="row">
                                    <div class="col-sm-4 px-0 px-sm-2" data-index="0">
                                      <div class="card product-card portrait oval">
                                        <a class="waves-effect hidden-link" href="#">&nbsp;</a>
                                        <div class="card-image">
                                          <img src="./assets/images/saas2/pembayaran tagihan.png" alt="">
                                        </div>
                                        <div class="desc">
                                          <div class="text">
                                            <h6 class="title pb-2 text-truncate">Pembayaran Tagihan</h6>
                                            <p class="use-text-paragraph">Implementasi sistem pembayaran tagihan untuk perusahaan utilitas.</p>
                                          </div>
                                          <!-- <div>
                                            <div class="property">
                                              <div class="rating"><i class="material-icons star-icon" title="1">star</i><i class="material-icons star-icon" title="2">star</i><i class="material-icons star-icon" title="3">star</i><i class="material-icons star-icon-disable" title="1">star</i><i class="material-icons star-icon-disable" title="2">star</i></div><strong>$20</strong>
                                            </div>
                                            <a class="btn btn-outlined primary button block" href="#">see detail</a>
                                          </div> -->
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-sm-4 px-0 px-sm-2" data-index="0">
                                      <div class="card product-card portrait oval">
                                        <a class="waves-effect hidden-link" href="#">&nbsp;</a>
                                        <div class="card-image">
                                          <img src="./assets/images/saas2/pulsa data.png" alt="">
                                        </div>
                                        <div class="desc">
                                          <div class="text">
                                            <h6 class="title pb-2 text-truncate">h2h Pulsa & Data</h6>
                                            <p class="use-text-paragraph">Pengembangan platform top-up pulsa dan data bagi operator telekomunikasi.</p>
                                          </div>
                                          <!-- <div>
                                            <div class="property">
                                              <div class="rating"><i class="material-icons star-icon" title="1">star</i><i class="material-icons star-icon" title="2">star</i><i class="material-icons star-icon" title="3">star</i><i class="material-icons star-icon-disable" title="1">star</i><i class="material-icons star-icon-disable" title="2">star</i></div><strong>$20</strong>
                                            </div>
                                            <a class="btn btn-outlined primary button block" href="#">see detail</a>
                                          </div> -->
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-sm-4 px-0 px-sm-2" data-index="0">
                                      <div class="card product-card portrait oval">
                                        <a class="waves-effect hidden-link" href="#">&nbsp;</a>
                                        <div class="card-image">
                                          <img src="./assets/images/saas2/voucher.png" alt="">
                                        </div>
                                        <div class="desc">
                                          <div class="text">
                                            <h6 class="title pb-2 text-truncate">Voucher online</h6>
                                            <p class="use-text-paragraph">Distribusi voucher onlinne untuk jaringan provider TV kabel.</p>
                                          </div>
                                          <!-- <div>
                                            <div class="property">
                                              <div class="rating"><i class="material-icons star-icon" title="1">star</i><i class="material-icons star-icon" title="2">star</i><i class="material-icons star-icon" title="3">star</i><i class="material-icons star-icon-disable" title="1">star</i><i class="material-icons star-icon-disable" title="2">star</i></div><strong>$20</strong>
                                            </div>
                                            <a class="btn btn-outlined primary button block" href="#">see detail</a>
                                          </div> -->
                                        </div>
                                      </div>
                                    </div>
                                  
                                  </div>
                                </div><!-- ##### END CARD #####-->
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            

            


            <!-- ##### CALL ACTION #####-->
            <!-- <section class="space-top" id="call-action">
              <div class="call-to-action">
                <div class="container fixed-width">
                  <div class="root">
                    <div class="wow fadeInUpShort" data-wow-offset="-100" data-wow-delay="0.5s" data-wow-duration="0.5s">
                      <div class="card paper">
                        <div class="deco"></div>
                        <h4 class="display-1 mb-10">What are you waiting for?</h4>
                        <a class="waves-effect btn primary button" href="https://mitra.walletlink.id/">Get Started</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section> -->
            <!-- ##### END CALL ACTION #####-->
            <!-- ##### FEATURE #####-->
             <!-- ##### END FEATURE #####-->
            
            <section id="feature">
              <div class="root">
                <!-- <div class="decoration-bg">
                  <svg class="wave">
                    <g>
                      <path d="M19.7665077,0.586224095 C173.454777,201.024442 338.39951,280.899446 514.600709,240.211239 C778.902507,179.178928 866.477805,607.756375 1041.85353,607.756375 C1158.77068,607.756375 1238.15284,586.837583 1280,545 L1274.18697,1225.96189 C1301.0524,1360.78849 1240.86783,1469.11522 1093.63327,1550.94205 C872.781425,1673.68231 547.694716,1115.83347 356.559941,1115.83347 C229.136757,1115.83347 110.418573,1186.39974 0.405387931,1327.53227 L19.7665077,0.586224095 Z"></path>
                    </g>
                  </svg>
                </div> -->
                <div class="container mq-lg-up" data-class="fixed-width">
                  
                  <div class="item">
                    <div class="row">
                      <div class="col-md-6 px-md-6 px-0 px-lg-12">
                        <div class="desc">
                          <div class="title-main right-title">
                            <h4>Gabung Bersama Kami</h4>
                          </div>
                          <h6 class="use-text-subtitle2 text-md-end">Mulai sekarang dan nikmati berbagai keuntungan dari layanan multi-payment channel terbaik dan terpercaya.</h6>
                          <div class="text-center text-md-end">
                            <a class="btn secondary btn-large waves-effect" href="#">Daftar Sekarang</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6 px-6 px-lg-12">
                        <div class="wow fadeInRightShort" data-wow-duration="0.5s" data-wow-delay="0.5s" data-wow-offset="200">
                          <div class="screen-wrap">
                            
                            <div class="illustration">
                              <figure>
                                <img src="./assets/images/saas2/gabungbrsmkami.png" alt="screen" />
                              </figure>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>

            

          

          </main><!-- ##### FOOTER #####-->
          <footer class="footer-sitemap has-bg" id="footer">
            <div class="footer-deco">
              <div class="deco-wrap">
                <div class="deco bottom">
                  <svg class="wave">
                    <g stroke="none" stroke-width="1" fill-rule="evenodd">
                      <g transform="translate(0.000000, -725.000000)">
                        <g>
                          <g>
                            <g transform="translate(-555.178198, 406.382977)">
                              <path d="M10,311.600689 C87.2870181,401.383056 187.280219,446.273623 309.979602,446.27239 C494.028677,446.270542 495.20336,363.569388 701.676006,378.79436 C908.148653,394.019332 909.216954,439.275608 1087.67363,451.006907 C1166.59583,456.195057 1306.38903,225.111735 1609.17703,337.188584 C1811.0357,411.906484 2069.42811,332.176956 2384.35426,98 L1982.6855,405.180766 L21.2425669,523.595781 L10,311.600689 Z" transform="translate(1197.177131, 310.797890) scale(-1, 1) rotate(3.000000) translate(-1197.177131, -310.797890) "></path>
                            </g>
                          </g>
                        </g>
                      </g>
                    </g>
                  </svg>
                </div>
                <div class="deco top">
                  <div class="wave wave-cover"></div>
                </div>
              </div>
              <div class="wave wave-cover"></div>
            </div>
            <div class="container mq-sm-down" data-class="fixed-width">
              <div class="row">
                <!-- <div class="col-md-3 pa-lg-4 logo-area">
                  <div class="logo">
                    <span class="title">Centralbiller</span>
                  </div>
                  <p class="body-2">Millions of happy users work better with our integrated Apps.</p>
                  <p class="body-2 hidden-sm-down">&copy; Nirwana Theme 2022</p>
                </div> -->
                <div class="col-md-12 pa-4">
                  <ul class="show-sm-down collapsible">
                    <li class="accordion-content">
                      <div class="collapsible-header">
                        <h6 class="title">Centralbiller</h6><i class="material-icons right arrow">expand_more</i>
                      </div>
                      <div class="collapsible-body">
                        <ul>
                          <li>H2H Multi Payment Channel</li>
                          <li>COPYRIGHT ©2022 | INPAM TEKNO – PT. Inpam Teknologi Solusindo</li>
                          <div >
                            <a class="btn btn-icon waves-effect"><span class="ion-social-facebook icon"></span></a>
                            <a class="btn btn-icon waves-effect"><span class="ion-social-twitter icon"></span></a>
                            <a class="btn btn-icon waves-effect"><span class="ion-social-instagram icon"></span></a>
                            <a class="btn btn-icon waves-effect"><span class="ion-social-linkedin icon"></span></a>
                          </div>
                        </ul>
                      </div>
                    </li>
                    <li class="accordion-content">
                      <div class="collapsible-header">
                        <h6 class="title">Office | GRAHA POS BANDA </h6><i class="material-icons right arrow">expand_more</i>
                      </div>
                      <div class="collapsible-body">
                        <ul>
                          
                          <li>Graha Pos Point Lab lt.7 Jl. Banda No.30 Bandung, 40112</li>
                          <li>Phone   : (+62) 817 08777 97</li>
                          <li>email   : <a herf="https://info@centralbiller.id">info@centralbiller.id</a></li>
                          <li>website : <a href="https://www.centralbiller.id">www.centralbiller.id</a></li>
                        </ul>
                      </div>
                    </li>
                    <!-- <li class="accordion-content">
                      <div class="collapsible-header">
                        <h6 class="title">Legal</h6><i class="material-icons right arrow">expand_more</i>
                      </div>
                      <div class="collapsible-body">
                        <ul>
                          <li><a href="#privacy-policy">Privacy policy</a></li>
                          <li><a href="#terms-of-use">Terms of use</a></li>
                        </ul>
                      </div>
                    </li> -->
                  </ul>
                  <div class="row show-md-up justify-content-around">
                    <div class="col pa-4 site-map-item">
                      <h6 class="title mb-4">Centralbiller</h6>
                      <ul>
                        <li>H2H Multi Payment Channel</li>
                        <li>COPYRIGHT ©2022 | INPAM TEKNO – PT. Inpam Teknologi Solusindo</li>
                        <div >
                          <a class="btn btn-icon waves-effect"><span class="ion-social-facebook icon"></span></a>
                          <a class="btn btn-icon waves-effect"><span class="ion-social-twitter icon"></span></a>
                          <a class="btn btn-icon waves-effect"><span class="ion-social-instagram icon"></span></a>
                          <a class="btn btn-icon waves-effect"><span class="ion-social-linkedin icon"></span></a>
                        </div>
                      </ul>
                    </div>
                    <div class="col pa-4 site-map-item">
                      <h6 class="title mb-4">Office | GRAHA POS BANDA </h6>
                      <ul>
                        <li>Graha Pos Point Lab lt.7 Jl. Banda No.30 Bandung, 40112</li>
                        <li>Phone : (+62) 817 08777 97</li>
                        <!-- <li>email : <a herf="mailto:info@centralbiller.id">info@centralbiller.id</a></li> -->
                        <li>email :<a href="mailto:info@centralbiller.id">info@centralbiller.id</a></li>
                        <li>website : <a href="https://www.centralbiller.id">www.centralbiller.id</a></li>
                      </ul>
                    </div>
                    <!-- <div class="col pa-4 site-map-item">
                      <h6 class="title mb-4">Legal</h6>
                      <ul>
                        <li><a href="#privacy-policy">Privacy policy</a></li>
                        <li><a href="#terms-of-use">Terms of use</a></li>
                      </ul>
                    </div> -->
                  </div>
                </div>
                
              </div>
            </div>
          </footer><!-- ##### END FOOTER #####-->

        </div>
      </div>
    </div>
  </div><!-- Scripts-->
  <script>
    // Array gambar
    const images = [
      "./assets/images/saas2/header1.png",
      "./assets/images/saas2/header2.png",
      "./assets/images/saas2/header3.png"
    ];
  
    let currentIndex = 0;
  
    // Fungsi untuk mengubah gambar
    function showImage(index) {
      const imgElement = document.getElementById("currentImage");
      imgElement.src = images[index];
    }
  
    // Fungsi untuk tombol 'Next'
    function nextImage() {
      currentIndex = (currentIndex + 1) % images.length;
      showImage(currentIndex);
    }
  
    // Fungsi untuk tombol 'Prev'
    function prevImage() {
      currentIndex = (currentIndex - 1 + images.length) % images.length;
      showImage(currentIndex);
    }
  
    // Mengubah gambar secara otomatis setiap 3 detik
    setInterval(nextImage, 4000);
  </script>
  <!-- Put the 3rd/plugins javascript here-->
  <script src="./assets/js/vendors/jquery.min.js"></script>
  <script src="./assets/js/vendors/bootstrap.min.js"></script>
  <script src="./assets/js/vendors/enquire.min.js"></script>
  <script src="./assets/js/vendors/jquery.form-validator.min.js"></script>
  <script src="./assets/js/vendors/jquery.touchSwipe.min.js"></script>
  <script src="./assets/js/vendors/jquery.magnific-popup.min.js"></script>
  <script src="./assets/js/vendors/pace.min.js"></script>
  <script src="./assets/js/vendors/slick.min.js"></script>
  <script src="./assets/js/vendors/wow.min.js"></script>
  <script src="./assets/js/vendors/jquery.navScroll.min.js"></script><!-- This assets are not avalaible in npm.js or it has been costumized-->
  <script src="./assets/js/vendors/modernizr-2.8.3-respond-1.4.2.min.js"></script>
  <script src="./assets/js/vendors/materialize.js"></script>
  <script src="./assets/js/scripts.js"></script>
  <script async="" defer="" src="https://maps.googleapis.com/maps/api/js?callback=initMap"></script>
</body>

</html>